*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.header1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10%;
    background: linear-gradient(to right, #2AA3EA, #09344D);
}

.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: auto;
}

.icons a{
    color: #fff;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 15px;
    margin-inline: 10px;
}

.icons a i{
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding-inline: 2.5px;
    padding-block: 2.5px;
}

.icons a:hover{
    background-color: #085683;
    color: #d3ecfa;
}

.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-block: 5px;
}

.contact div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.contact div:hover{
    background-color: #0C4B70;
}

.contact div p{
    padding-left: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.contact div i{
    font-size: 15px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 15px;
}

.header2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10%;
    background-color: #fff;
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #2AA3EA, #09344D);
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 50px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo h3{
    font-size: 30px;
    font-family:cursive;
    padding-left: 15px;
    font-style: italic;
    color: #085683;
}

.Buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.Buttons ul{
    padding: 20px 15px;
    border-right: 1px solid rgb(255 242 242);
}

.Buttons ul a{
    display: block;
    text-decoration: none;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #1d1c21;
    font-weight: 600;
}

.Buttons ul a:hover{
    color: #2AA3EA;
    transition: 0.5s;
}

#main-item:hover #item{
    display: block;
    transition: 1.5s;
}

#main-item a i{
    color: lightgrey;
    font-size: 12px;
    padding-left: 10px;
    transition: transform 0.5s ease-in-out;
}

#main-item:hover a{
    color: #1d1c21;
    cursor: default;
}

#main-item:hover a i{
    transform: rotate(-90deg);
}

#item{
    display: none;
    position: absolute;
    list-style-type: none;
    border: none;
}

#item li{
    background-color: #d3ecfa;
    padding: 10px 30px;
    border-top: 2px solid #afa6d253;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

#item li:hover{
    color: #2AA3EA;
    transition: 0.25s;
}

.search{
    background-color: #09344D;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.search:hover{
    background-color: #2388c3;
    font-size: 18px;
    padding: 10px 16px;
    transition: 0.5s;
}

.home{
    position: relative;
    width: 100%;
    padding-top: 100px;
    height: 100vh;
}

.main-home{
    position: relative;
}

.main-home img{
    height: 85vh;
    z-index: -10;
    position: absolute;
    top: 0;
    right: 0;
}

.sub-main{
    margin: 0% 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    margin-right: 40%;
    padding-block: 10px;
    color: #000;
    background-color: #fff;
    border-right: 50px solid #2388c3;
    border-bottom: 3px solid #2388c3;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 100px;
}

.sub-main h5{
    font-size: 20px;
    letter-spacing: 10px;
    padding-left: 30px;
    font-weight: 600;
    animation: showText 0.5s 0.75s linear forwards;
    opacity: 0;
    border-left: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #2AA3EA, #09344D);
}

.sub-main h1{
    padding-left: 30px;
    padding-block: 20px;
    font-size: 45px;
    letter-spacing: 4px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    border-left: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #2AA3EA, #09344D);
}
.sub-main p{
    padding-left: 30px;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 20px;
    font-weight: 500;
    animation: showText 0.5s 1.25s linear forwards;
    opacity: 0;
    border-left: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #2AA3EA, #09344D);
}

.sub-main div{
    padding-top: 30px;
    display: flex;
    padding-left: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
    border-left: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #2AA3EA, #09344D);
}

@keyframes showText{
    100%{
      opacity: 1;
    }
  }

.sub-main div a{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 600;
    border: 2px solid #ffffff;
    margin-right: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
}

#read{
    background: linear-gradient(to right, #2AA3EA, #09344D);
    border: 2px solid transparent;
}

.sub-main div a:hover{
    background-color: #1d1c21;
}

#read:hover{
    background: #1d1c21;
}

.information{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #2AA3EA, #09344D);
    padding: 10px 10%;
}

.information-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.information-container i{
    color: #ffffffc1;
    font-size: 40px;
}

.information-container h1{
    color: #ffffff;
    font-size: 70px;
    padding-block: 10px;
}

.information-container p{
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffffd4;
    font-weight: 600;
    display: inline-block;
}

.about{
    display: flex;
    flex-direction: row;
    padding: 0px 10%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    height: 80vh;
}

.about-text{
    width: 48%;
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    z-index: 1;
}

.about-text h1{
    font-size: 35px;
    font-weight: 600;
}

.text-underline{
    margin-block: 20px;
    height: 3px;
    width: 80px;
    background: linear-gradient(to right, #2AA3EA, #09344D);
}

.about-text h3{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
}

.about-text p{
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 500;
    text-align: left;
}

.about-img{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-img source {
    height: 100%;
    width: 50%;
}

.about-img img{
    height: 100%;
    z-index: 0;
}

.Readmore{
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 70%;
    margin-block: 20px;
    background: linear-gradient(to right, #2AA3EA, #09344D);
}

.Readmore:hover{
    font-size: 20px;
    transition: 0.5s;
}

.features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-block: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.features div li{
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
}

.services{
    width: 100%;
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services h2{
    font-size: 35px;
    font-weight: 600;
    z-index: 1;
}

.service-list{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.service-list::-webkit-scrollbar{
    display: none;
}

.service-containers{
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.service-container{
    width: 100%;
    transition: transform 0.5s;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#p1{
    background: url("../Task1//Assets/crypto.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: padding-box;
    background-clip: border-box;
    transform: scale(1.2);
}

#p2{
    background: url("../Task1//Assets/DashBoard.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: padding-box;
    background-clip: border-box;
}

#p3{
    background: url("../Task1//Assets/JobGods.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: padding-box;
    background-clip: border-box;
}

#p4{
    background: url("../Task1//Assets/Portfolio1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: padding-box;
    background-clip: border-box;
}

#p5{
    background: url("../Task1//Assets/Home.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: padding-box;
    background-clip: border-box;
}

.service-container h1{
    background: linear-gradient(to bottom, #2aa4ea91, #09344d);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 50% 20%;
    color: #fff;
    height: 100%;
}

.gallery-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0%;
}

.service-container:hover{
    box-shadow: 10px 10px 20px 5px rgba(6, 61, 200, 0.2);
    cursor: pointer;
    transform: scale(1.1);
}

#backBtn, #nextBtn{
    font-size: 40px;
    cursor: pointer;
    margin: 40px;
    padding: 5px;
}

.gallery-wrap i:hover{
    background-color: #7c7c7c5b;
    border-radius: 30px;
}

#pr1{
    height: 75vh;
}

#pr2{
    height: 75vh;
    display: none;
}

#pr3{
    height: 75vh;
    display: none;
}

#pr4{
    height: 75vh;
    display: none;
}

#pr5{
    height: 75vh;
    display: none;
}

#youtube-text{
    width: 35%;
}

.about-youtube{
    width: 55%;
    height: 66vh;
    margin-block: 5%;
    z-index: 1;
    border-left: 50px solid #2388c3;
    border-bottom: 10px solid #2388c3;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 70px;
}

.design{
    width: 50%;
    height: 80px;
    z-index: 3;
    margin-top: -15px;
    position: absolute;
    background-color: #2388c3;
    border-bottom-right-radius: 30pc;
}

.my-youtube{
    padding: 50px 10%;
    position: absolute;
    right: 0;
    width: 65%;
    height: 80vh;
}

.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 30px 10%;
}

.pricing h1{
    font-size: 35px;
    font-weight: 600;
}

.pricing h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
    padding: 10px 0px;
}

.packages{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.package{
    background-color: rgba(28, 178, 25, 0.1);
    border: 1px solid #02484675;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: auto;
    margin-inline: 50px;
}

.package h2{
    padding: 20px;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.package-name{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.package-name h3{
    font-size: 20px;
    padding: 15px 30px;
    border: 1px solid #02484675;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

#basic{
    background-color: rgba(28, 178, 25, 1);
    transform: scaleY(1.2);
}

#standard{
    background-color: rgba(0, 21, 255, 1);
}

#premium{
    background-color: rgba(255, 156, 41, 1);
}

#mbasic{
    background-color: rgba(28, 178, 25, 1);
    transform: scaleY(1.2);
}

#mstandard{
    background-color: rgba(0, 21, 255, 1);
}

#mpremium{
    background-color: rgba(255, 156, 41, 1);
}

#silver{
    display: flex;
}

#msilver{
    display: flex;
}

.package-description{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.package-price{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
}

.package-price h4{
    font-size: 20px;
}

.package-price h6{
    font-size: 25px;
    color: #fff;
    font-weight: 800;
    background-color: rgba(28, 178, 25, 0.7);
    border-radius: 50%;
    padding: 15px;
    box-shadow: 1px 2px 3px 4px rgba(27, 178, 25, 0.3);
}

.delivery{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
}

.delivery-details{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.delivery-details i{
    font-size: 25px;
    font-size: 600;
}

.delivery-details h5{
    font-size: 18px;
    padding-left: 5px;
}

.package-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 10px 10px 30px;
}

#wrong{
    color: red;
}

.package-feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.package-features i{
    font-size: 30px;
    font-weight: 600;
    color: green;
}

.package-feature p{
    font-size: 18px;
    color: #0000009f;
}

.package a{
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    padding: 10px 100px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    margin-block: 20px;
}

.package a i{
    font-size: 20px;
    vertical-align: middle;
    margin-left: 70px;
    position: absolute;
}

.package a:hover{
    transform: scale(1.1);
}

.package span{
    font-size: 15px;
    padding: 0px 0px 20px 0px;
}

.logo-main{
    padding: 60px 10%;
    margin-bottom: 50px;
    background: #09344d0c;
}

.logos{
    overflow: hidden;
    white-space: nowrap;
}

.logos-slide{
    display: inline-block;
    animation: 30s slide infinite linear;
}

.logos-slide i{
    font-size: 100px;
    font-weight: 600;
    margin-inline: 50px;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.contactus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    background: url("../Task1//Assets/service-back.png");
}

.contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding-top: 50px;
    color: #09344D;
}

.contact-details h1{
    font-size: 35px;
    font-weight: 600;
}

.contact-back{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 90%;
    object-fit: cover;
    opacity: 0.1;
}

.reply{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
    margin-block: 10px;
}

.main-contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    cursor: pointer;
}

.main-contact i{
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
}

.main-contact p{
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
}

.main-contact:hover{
    background-color: #085683;
    color: #d3ecfa;
}

#bottom-contact{
    margin-block: 20px;
}

#bottom-contact a{
    color: #09344D;
}

#bottom-contact a:hover{
    color: #fff;
    background-color: #09344D;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #2aa4ea71, #09344df5);
    padding: 40px 50px;
    border-radius: 30px 40px;
}

form h4{
    padding-block: 10px;
    font-size: 25px;
    color: #09344D;
}

form input{
    width: 100%;
    margin: 10px;
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 10px;
}

form textarea{
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 10px;
}

.to-top{
  background: black;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.to-contact{
  background: rgb(9, 0, 105);
  position: fixed;
  bottom: 16px;
  left: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  transition: all .4s;
  cursor: pointer;
}

.to-chat{
  background: rgb(0, 137, 9);
  position: fixed;
  bottom: 80px;
  left: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all .4s;
}

#chat{
  position: fixed;
  bottom: 30px;
  left: 100px;
  transition: all .4s;
  z-index: 100;
  border-radius: 40px;
  display: none;
}

#in{
    display: flex;
    visibility: hidden;
    -webkit-appearance: none;
    cursor: pointer;
}

label{
    cursor: pointer;
    z-index: 100;
}

label div{
    background-color: antiquewhite;
}

input:checked ~ #chat{
    display: flex;
}